
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/js/JavaScript.js"></script>
</head>
<body>
    <h1>Üyelik İşlemleri</h1>
</body>
</html>
