@model _60_MVC_Intro.Models.Product
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="~/js/JavaScript.js">

    </script>
</head>
<body>
    <h1>Product Sayfası</h1>
    <hr />

    <div class="card" style="width: 18rem;">
        <img src="~/img/Product1.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">Ürün Kodu: <b>@Model.Id</b> - Ürün Fiyatı: <b>@Model.Price</b></p>
        <a href="#" class="btn btn-warning">Sepete Ekle</a>
      </div>
    </div>
</body>
</html>
