
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_BlackLayout.cshtml";
}

<h1>Create</h1>
<p>Ben Buradayım</p>

@section Footer{
    <b>Ben Burdayım 2</b>
}

@section Baslik{
    <b>Ben Buradayım 3</b>
}