<h3>Kategoriler</h3>
<ul>
    <li><a asp-action="Index" asp-controller="Home">Ana Sayfa</a></li>
    <li><a asp-action="Index" asp-controller="Product">Ürünler</a></li>
    <li><a href="#">Kalemler</a></li>
    <li><a href="#">Kitaplar</a></li>
    <li><a href="#">Defterler</a></li>
    <li><a href="#">Silgiler</a></li>
</ul>