@model Product

<div class="card" style="width: 18rem;">
    <img src="https://via.placeholder.com/150x150" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">Ürün Kodu: @Model.Id - Fiyatı: @Model.Price</p>
        <a href="#" class="btn btn-primary">Ürün Detay</a>
    </div>
</div>
